.App{
  gap: 5px;
}
.App-header{
  background-color: #0b9c59;
  height: 225px;
  width: 100vi;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.App-header .ilyes{
  color: white;
}