.firstDiv{
    border: 2px solid #0b9c59;
    width: 50%;
    padding: 10px;
    position: relative;
    left: -200px;
}
.containerDiv{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}
.btnContainer{
    border: 2px solid #0b9c59;
width: 20%;
height: 400px;
padding: 5px;
position: absolute;
right: 200px;
top: 240px;
display: flex;             /* Enable flexbox */
flex-wrap: wrap; 
}
button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Add padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold font */
    cursor: pointer; /* Pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
    margin: 2px;
  }
  
  /* Hover state */
  button:hover {
    background-color: #45a049; /* Darker green on hover */
  }